html,
body {
    height: 100vh;
    padding: 0;
}

main {
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "equipo inventario"
        "equipo inventario"
        "stats inventario";
}

.panel-equipo {
    grid-area: equipo;
    background: red;
    margin: 1rem;
}

.panel-inventario {
    grid-area: inventario;
    background: green;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding: 1em;
    gap: 8px;
}

.panel-inventarioRecompensa {
    grid-area: inventario;
    background: yellow;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding: 1em;
    gap: 8px;
}

.panel-stats {
    grid-area: stats;
    background: yellow;
    margin: 1rem;
}

.slot {
    height: 60px;
    width: 60px;
    border: 2px solid black;
    box-sizing: content-box;
    position: relative;
    user-select: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}
.slot:not(.slot-empty) {
    cursor: pointer;
}

.slot-tooltip {
    text-align: left;
}
.slot-tooltip .slot-tooltip__nombre {
    color: gold;
    font-size: 1.25em;
    margin-bottom: 0;
}
.slot-tooltip .slot-tooltip__tipo {
    margin-bottom: 0.5em;
}
.slot-tooltip .slot-tooltip__descripcion {
    color: lightgray;
    font-style: italic;
    margin-bottom: 0.5em;
}
.slot-tooltip .slot-tooltip__valor {
    text-align: right;
    color: gold;
    font-weight: bold;
}

.slot-qty {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

.rango-1 {
    border: 2px solid green;
}

.rango-2 {
    border: 2px solid blue;
}

.rango-3 {
    border: 2px solid yellow;
}
