<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<div class="container-xl mt-3 bg-dark p-3">
    <div class="container text-center pt-3 ">



        <div class="row d-flex flex-row">

            <div class="col">
                <div class="container bg-info rounded p-2 ">
                    <img th:src="@{/img/items/{imagenSrc}(imagenSrc=${url})}" th:attr="alt=${jugador.nombre}">
                    <div>
                        <span th:text="${jugador.nombre}"></span>
                        <span th:text="' | Vida: ' + ${jugador.vidaActual}"></span>
                        <span th:text="' | Ataque: ' + ${jugador.ataque}"></span>
                    </div>
                </div>
            </div>

            <div class="col bg-light rounded p-2">

                <form th:action="@{/combate/accion}" method="post">

                    <div class="d-flex flex-column" th:each="enemigo, iterStat : ${enemigos}">

                        <input type="radio" name="enemigoIndex" th:id="'enemigo-' + ${iterStat.index}" th:value="${iterStat.index}" hidden required>
                        <label th:for="'enemigo-' + ${iterStat.index}">
                            <img th:src="@{/img/items/{imagenSrc}(imagenSrc=${enemigo.imagenSrc})}" th:attr="alt=${enemigo.nombre}">
                        </label>

                        <div>
                            <span th:text="${enemigo.nombre}"></span>
                            <span th:text="' | Vida: ' + ${enemigo.vidaActual}"></span>
                            <span th:text="' | Ataque: ' + ${enemigo.ataque}"></span>
                        </div>


                    </div>

                    <input type="submit" name="accion" value="atacar">
                    <input type="submit" name="accion" value="Defenderse">
                </form>


            </div>

        </div>
    </div>
</div>

<script>
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>