<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/inventario.css}"/>

</head>
<body>
<main role="main" class="container-fluid d-flex h-100 py-0 align-items-center">
    <div class="row flex-grow-1">
        <div class="col-3 ps-0">
            <div class="panel panel-floating-bottom text-white">
                <div class="panel-content">
                    <div class="d-flex flex-column text-center fs-4" th:with="ataqueTotal=(${jugador.ataque} + ${ataqueAdicional})">
                        <strong>Ataque</strong>
                        <span th:text="${ataqueTotal + ' (' + jugador.ataque + '+' + ataqueAdicional + ')'}"></span>
                    </div>
                    <div class="d-flex flex-column text-center fs-4" th:with="defensaTotal=(${jugador.defensa} + ${defensaAdicional})">
                        <strong>Defensa</strong>
                        <span th:text="${defensaTotal + ' (' + jugador.defensa + '+' + defensaAdicional + ')'}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 offset-3 pe-0">
            <div class="panel panel-floating-bottom panel-flipped">
                <div class="panel-content">
                    <div class="inventario">
                        <div th:each="objeto: ${objetos}">
                            <a th:href="@{/inventario/equipar(objetoInventarioId=${objeto.id})}" th:if="${objeto.objeto.equipable}">
                                <div th:class="'inventario-slot ' + ${'rango-'+objeto.objeto.rango} + ${objeto.objeto.equipable ? ' inventario-slot__equipable' : ''}"
                                     data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                     th:attr="data-bs-title=${objeto.objeto.getTooltip(true)}"
                                >
                                    <img th:src="@{/img/items/{imagenSrc}(imagenSrc=${objeto.objeto.imagenSrc})}" th:attr="alt=${objeto.objeto.nombre}">
                                    <span class="inventario-slot__equipado" th:if="${objeto.equipado}">E</span>
                                    <span class="inventario-slot__cantidad" th:text="${objeto.cantidad}"></span>
                                </div>
                            </a>
                            <div th:if="${!objeto.objeto.equipable}"
                                 class="inventario-slot"
                                 th:class="'inventario-slot ' + ${'rango-'+objeto.objeto.rango} + ${objeto.objeto.equipable ? ' inventario-slot__equipable' : ''}"
                                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                 th:attr="data-bs-title=${objeto.objeto.getTooltip(true)}"
                                 tabindex="0"
                            >
                                <img th:src="@{/img/items/{imagenSrc}(imagenSrc=${objeto.objeto.imagenSrc})}" th:attr="alt=${objeto.objeto.nombre}">
                                <span class="inventario-slot__equipado" th:if="${objeto.equipado}">E</span>
                                <span class="inventario-slot__cantidad" th:text="${objeto.cantidad}"></span>
                            </div>
                        </div>
                        <div th:each="emptySlot: ${#numbers.sequence(1,emptySlots)}">
                            <div class="inventario-slot"></div>
                        </div>
                    </div>
                    <div class="text-gold text-center fw-bold fs-4" th:text="${jugador.dinero} + 'g'"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<a th:href="@{/home}" class="btn btn-primary btn-volver px-4 py-3 fs-2">Volver</a>

<script type="text/javascript" th:src="@{webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
</body>
</html>