<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login - Taller Web I</title>

    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <!-- Custom style -->
    <!--   <link rel="stylesheet" th:href="@{/css/main.css}" /> -->

    <link rel="stylesheet" th:href="@{/css/login.css}">


</head>

<body>

<main role="main" class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; padding-top: 60px;">
    <div class="col-md-6 login-box">
        <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
            <h3 class="text-center mb-4">Iniciar Sesión</h3>

            <input th:field="*{email}" id="email" type="email" placeholder="Email" class="form-control" required />
            <input th:field="*{password}" id="password" type="password" placeholder="Contraseña" class="form-control" required />

            <button id="btn-login" class="btn btn-primary w-100" type="submit">Ingresar</button>

            <p th:if="${error != null}" class="alert alert-danger mt-3" th:text="'Error: ' + ${error}"></p>
        </form>
        <div class="text-center mt-3">
            <a id="ir-a-registrarme" href="nuevo-usuario">¿No tenés cuenta? Registrate</a>
        </div>
    </div>
</main>


<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>
